body {
    background-image: url('blue.jpg');
}

#container {
    background-color: white;
    width: 450px;
    height: 70vh;
    margin: auto;
    margin-top: 120px;
    border-radius: 20px;
}

h1 {
    font-size: 40px;
    text-align: center;
    color: #09C6F9;
}

h3 {
    text-align: center;
}

input {
    display: flex;
    justify-items: center;
    margin-left: 70px;
    padding: 13px;
    width: 300px;
    margin-top: 10px;
}

label {
    margin-left: 70px;
    font-size: 17px;
}


button {
    padding: 13px;
    margin-top: 30px;
    margin-left: 70px;
    width: 330px;
    background-color: #20bf55;
    background-image: linear-gradient(315deg, #20bf55 0%, #01baef 74%);
    border-radius: 10px;
    border: none;
    color: white;
}